.swiper-button-prev::after, .swiper-button-next::after {
    color: red!important;
    font-size: 13px!important;
    font-weight: bolder!important;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
    outline: none!important;
    background-color: rgba(255, 255, 255, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.4);
}