@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    *{
        @apply font-sans
    }

    

}

@layer components{
    .container {
        @apply w-10/12 mx-auto
    }

    .page-container {
        @apply w-10/12 pt-24 mx-auto
    }

    .slide {
        @apply rounded-lg h-full overflow-hidden opacity-75 scale-90 duration-300 blur-[1px] w-fit
    }

    .slide-active{
        @apply opacity-100 scale-90 blur-0
    }

    .slick-arrow::before {
        @apply text-red-500
    }

    .element.style{ 
        width: fit-content!important;
    }

    .slideScrollbar::-webkit-scrollbar{
        display: none;
    }
    
}


html{
    background-color: #111;
}

.slick-slide{
    opacity: 0.5;
}

.slick-active{
    opacity: 1;
}